<!--/* Thymeleaf templating engine, Each token will be replaced by their respective titles in the resulting page. */-->
<html>
<head>
<script>
	function validateForm() {
		var x = document.forms["myForm"]["fname"].value;
		if (x == "") {
			alert("Name must be filled out");
			return false;
		}
	}
</script>
<title>Student Information</title>
<meta charset="UTF-8" />

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: DarkSalmon;
	color: white;
	text-align: center;
}

.right {
	position: absolute;
	right: 0px;
	width: 300px;
	border: 3px solid #73AD21;
	padding: 10px;
}

.required:after {
	content: " *";
	color: red;
}

.button2 {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 40px 2px;
	cursor: pointer;
}

.button4 {
	border-radius: 12px;
}
</style>

</head>

<body style="background-color: #e6ddc5;">
	<div layout:fragment="panel-content"
		style="margin-left: 45px; margin-right: 45px;">

		<form th:action="@{/studentInformation/form}" method="post"
			enctype="multipart/form-data" th:object="${studentInformation}">


			<section>
				<h2>Student Basic Information</h2>
				<div class="row">

					<div class="col-md-4">
						<label class="required" for="name">Student's Full Name </label> <input
							type="text" th:field="*{name}" name="credit" class="form-control"
							id="name" required /> <label class="control-label error-label"
							th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
							Pesan error nanti di sini </label>

					</div>

					<div class="col-md-4">
						<div class="">
							<label class="required">Program</label> <select
								class="selectpicker form-control" id="program" path="program"
								data-live-search="true" data-size="10" title="Please Select ..."
								th:field="*{program}" required>
								<option th:each="p : ${program}" th:value="${p.id}"
									th:text="${p.programName}">Program Name</option>
							</select> <label class="control-label error-label" th:errors="*{program}">
							</label>
						</div>
					</div>

					<div class="col-md-4">
						<label>Student Photo </label> <input type="file" name="image"
							accept="image/png, image/jpeg" />
						<lable>Photo Must be in Passport(PP)Size. Max Upload
						256KB.</lable>
						<label>Upload Only JPG/PNG/JPEF Extensions File</label>
					</div>

				</div>
			</section>

			<section>
				<h2>Student Personal Information</h2>
				<div class="row">
					<div class="col-md-4">
						<label for="fatherName" class="required">Father's Name </label> <input
							type="text" th:field="*{fatherName}" name="fatherName"
							class="form-control" id="fatherName" required /> <label
							class="control-label error-label"
							th:if="${#fields.hasErrors('fatherName')}"
							th:errors="*{fatherName}"> </label>
					</div>
					<div class="col-md-4">
						<label for="mothername" class="required">Mother's Name </label> <input
							type="text" th:field="*{mothername}" name="mothername"
							class="form-control" id="mothername" required /> <label
							class="control-label error-label"
							th:if="${#fields.hasErrors('mothername')}"
							th:errors="*{mothername}"> </label>
					</div>

					<div class="col-md-4">
						<label for="mothername">Guardian/Referrer Name </label> <input
							type="text" th:field="*{guardianName}" name="guardianName"
							class="form-control" id="guardianName" /> <label
							class="control-label error-label"
							th:if="${#fields.hasErrors('guardianName')}"
							th:errors="*{guardianName}"> </label>
					</div>
				</div>

				<div class="row">
					<div class="col-md-4">
						<label for="studentContactNo" class="required">Student's
							Contact No. </label> <input type="text" th:field="*{studentContactNo}"
							name="studentContactNo" class="form-control"
							id="studentContactNo" required /> <label
							class="control-label error-label"
							th:if="${#fields.hasErrors('studentContactNo')}"
							th:errors="*{studentContactNo}"> </label>
					</div>
					<div class="col-md-4">
						<label for="guardianContactNo" class="required">Parent's/Guardian's
							Contact No.</label> <input type="text" th:field="*{guardianContactNo}"
							name="guardianContactNo" class="form-control"
							id="guardianContactNo" required /> <label
							class="control-label error-label"
							th:if="${#fields.hasErrors('guardianContactNo')}"
							th:errors="*{guardianContactNo}"> </label>
					</div>
					<div class="col-md-4">
						<label for="studentNid">Student's National ID/Birth
							Certificate No. </label> <input type="text" th:field="*{studentNid}"
							name="studentNid" class="form-control" id="studentNid" /> <label
							class="control-label error-label"
							th:if="${#fields.hasErrors('studentNid')}"
							th:errors="*{studentNid}"> </label>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<label for="email">Student's E-mail </label> <input type="text"
							th:field="*{email}" name="email" class="form-control" id="email" />
						<label class="control-label error-label"
							th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
						</label>
					</div>
				</div>

				<div class="row">
					<div class="col-md-4">
						<label for="presentAddress" class="required">Present
							Address </label>
						<textarea th:field="*{presentAddress}" name="presentAddress"
							class="form-control" id="presentAddress" required />
						</textarea>
						<label class="control-label error-label"
							th:if="${#fields.hasErrors('presentAddress')}"
							th:errors="*{presentAddress}"> </label>
					</div>
				</div>
			</section>

			<section>
				<h2>Student Academic Information</h2>
				<div class="row">
					<div class="col-md-4">
						<div class="">
							<label class="required">SSC/Dakhil/Equivalent</label> <select
								class="selectpicker form-control" id="ssc" path="ssc"
								data-live-search="true" data-size="10" title="Please Select ..."
								th:field="*{ssc}" required>
								<option th:each="p : ${ssc}" th:value="${p.id}"
									th:text="${p.sscType}"></option>
							</select> <label class="control-label error-label" th:errors="*{ssc}">
							</label>
						</div>
					</div>

				</div>
				<div class="row">
					<div class="col-md-2">
						<label for="sscRollNo" class="required">Roll Number </label> <input
							type="text" th:field="*{sscRollNo}" name="sscRollNo"
							class="form-control" id="sscRollNo" required /> <label
							class="control-label error-label"
							th:if="${#fields.hasErrors('sscRollNo')}"
							th:errors="*{sscRollNo}"> </label>
					</div>
					<div class="col-md-2">
						<label for="sscRegNo" class="required">Registration Number
						</label> <input type="text" th:field="*{sscRegNo}" name="sscRegNo"
							class="form-control" id="sscRegNo" required /> <label
							class="control-label error-label"
							th:if="${#fields.hasErrors('sscRegNo')}" th:errors="*{sscRegNo}">
						</label>
					</div>
					<div class="col-md-2">
						<div class="">
							<label class="required">Passing Year</label> <select
								class="selectpicker form-control" id="ssc" path="passingYearSsc"
								data-live-search="true" data-size="10" title="Please Select ..."
								th:field="*{passingYearSsc}" required>
								<option th:each="p : ${passingYearSsc}" th:value="${p.id}"
									th:text="${p.sscPassingYear}"></option>
							</select> <label class="control-label error-label"
								th:errors="*{passingYearSsc}"> </label>
						</div>
					</div>
					<div class="col-md-2">
						<div class="">
							<label class="required">Board</label> <select
								class="selectpicker form-control" id="sscBoard" path="sscBoard"
								data-live-search="true" data-size="10" title="Please Select ..."
								th:field="*{sscBoard}" required>
								<option th:each="p : ${sscBoard}" th:value="${p.id}"
									th:text="${p.sscBoardName}"></option>
							</select> <label class="control-label error-label" th:errors="*{sscBoard}">
							</label>
						</div>
					</div>
					<div class="col-md-2">
						<label for="sscGpa" class="required">GPA </label> <input
							type="number" th:field="*{sscGpa}" name="sscGpa"
							class="form-control" id="sscGpa" required min=0
							onkeyup="oneDot(this)" /> <label
							class="control-label error-label"
							th:if="${#fields.hasErrors('sscGpa')}" th:errors="*{sscGpa}">
						</label>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="">
							<label class="required">HSC/Diploma/Equivalent</label> <select
								class="selectpicker form-control" id="ssc" path="ssc"
								data-live-search="true" data-size="10" title="Please Select ..."
								th:field="*{hsc}" required>
								<option th:each="p : ${hsc}" th:value="${p.id}"
									th:text="${p.hscType}"></option>
							</select> <label class="control-label error-label" th:errors="*{hsc}">
							</label>
						</div>
					</div>

				</div>
				<div class="row">
					<div class="col-md-2">
						<label for="hscRollNo" class="required">Roll Number </label> <input
							type="text" th:field="*{hscRollNo}" name="sscRollNo"
							class="form-control" id="hscRollNo" required /> <label
							class="control-label error-label"
							th:if="${#fields.hasErrors('hscRollNo')}"
							th:errors="*{hscRollNo}"> </label>
					</div>
					<div class="col-md-2">
						<label for="hscRegNo" class="required">Registration Number
						</label> <input type="text" th:field="*{hscRegNo}" name="hscRegNo"
							class="form-control" id="hscRegNo" required /> <label
							class="control-label error-label"
							th:if="${#fields.hasErrors('hscRegNo')}" th:errors="*{hscRegNo}">
						</label>
					</div>
					<div class="col-md-2">
						<div class="">
							<label class="required">Passing Year</label> <select
								class="selectpicker form-control" id="passingYearHsc"
								path="passingYearHsc" data-live-search="true" data-size="10"
								title="Please Select ..." th:field="*{passingYearHsc}" required>
								<option th:each="p : ${passingYearHsc}" th:value="${p.id}"
									th:text="${p.hscPassingYear}"></option>
							</select> <label class="control-label error-label"
								th:errors="*{passingYearHsc}"> </label>
						</div>
					</div>
					<div class="col-md-2">
						<div class="">
							<label class="required">Board</label> <select
								class="selectpicker form-control" id="hscBoard" path="hscBoard"
								data-live-search="true" data-size="10" title="Please Select ..."
								th:field="*{hscBoard}" required>
								<option th:each="p : ${hscBoard}" th:value="${p.id}"
									th:text="${p.hscBoardName}"></option>
							</select> <label class="control-label error-label" th:errors="*{hscBoard}">
							</label>
						</div>
					</div>
					<div class="col-md-2">
						<label for="hscGpa" class="required">GPA </label> <input
							type="number" th:field="*{hscGpa}" name="sscGpa"
							class="form-control" id="hscGpa" required min=0 /> <label
							class="control-label error-label"
							th:if="${#fields.hasErrors('sscGpa')}" th:errors="*{hscGpa}">
						</label>
					</div>
				</div>
			</section>

			<div class="text-left">
				<div role="group">
					<button class="button2 button4" type="submit" name=btnSubmit
						value="SaveClose" title="Submit Build">
						<i class="fa fa-floppy-o mr-1 text-primary"></i>Submit
					</button>

				</div>
			</div>

		</form>

	</div>

	<th:block layout:fragment="styles">
		<link rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
			integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
			crossorigin="anonymous">


	</th:block>
	<th:block layout:fragment="script">
	
	</th:block>
</body>
</html>
